* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
a,
p,
ul,
li,
form,
input {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

ul {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}